/*
 * aquariusoft.org stylesheet
 * $Id$
 */

body
{
	font-family: verdana, tahoma, helvetica, sans;
	font-size: 13px;
	margin: 0;
	background-color: #EEE;
	color: #333333;
}

h1
{
	font-size: 1.9em;
	margin-top: .7em;
	margin-bottom: 0;
	color: #38587c;
}

h2
{
	font-size: 1.3em;
	color: #FFF;
	background-color: #38587c;
	margin: 0;
	padding: .3em;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
}

h3
{
	font-size: 1em;
	font-weight: bold;
	color: #38587c;
}

ul li
{
	list-style-type: square;
}

a
{
	text-decoration: none;
	color: #7f97b2;
	color: #38587c;
}

a:hover
{
	text-decoration: underline;
	color: #7f97b2;
	color: #38587c;
}

th
{
	text-align: left;
	font-weight: bold;
}

p
{
	padding-left: .5em;
	padding-right: .5em;
	text-align: justify;
}

/* Hides from IE5-mac; HACK for iframe not resizing properly in IE \*/
* html .content {height: 1%;}
/* End hide from IE5-mac */

img
{
	border: 0;
}

img a
{
	border: 0;
}

.wrapperbox
{
	text-align: center;
}

.page
{
	background-color: #FEFEFE;
	border: 1px solid #CCC;
	width: 90%;
	padding: .5em;
	margin: 1em auto 1em auto;
	text-align: left;
	max-width: 1000px;

        -moz-border-radius-bottomleft:6px;
        -moz-border-radius-bottomright:6px;
        -moz-border-radius-topleft:6px;
        -moz-border-radius-topright:6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
}

#banner
{
}

.navbar
{
	margin-top: .5em;
	background-color: #1288d0;
	background-color: #38587c;
	padding: .3em;
	padding-left: .2em;
	padding-left: .4em;
	color: #FFF;
	font-weight: bold;
	font-size: .9em;
        -moz-border-radius-topleft:4px;
        -moz-border-radius-topright:4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

	.navbar a
	{
		padding-left: .2em;
		padding-right: .2em;
		color: #FFF;
		text-decoration: none;
		font-weight: normal;
	}

	.navbar a:hover, .navbar a.highlight
	{
		padding-left: .2em;
		padding-right: .2em;
		color: #FFF;
		text-decoration: underline;
		font-weight: normal;
	}

	.navbar img
	{
		vertical-align:middle;
	}


.pagebody
{
	margin-top: .5em;
	line-height: 1.2;
	background: transparent;
	padding: 0;
}

.subnavbar
{
/*	font-size: .8em;*/
	font-size: .9em;
	background-color: #EEE;
	margin: 0;
	margin-bottom: 1em;
	border: 1px solid #CCC;
	border-top: 0;
	padding-top: .1em;
	padding-bottom: .1em;

        -moz-border-radius-bottomleft:4px;
        -moz-border-radius-bottomright:4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
}

	.subnavbar h2
	{
		background-color: #3f5671;
		background-color: #38587c;
		font-size: 1.1em;
		font-weight: bold;
		color: #FFF;
		margin-top: 0;
		margin-bottom: .5em;
		border-bottom: 0;
		padding-left: .3em;
		padding-right: .3em;
		padding-top: .2em;
		padding-bottom: .2em;
		text-align: center;
	}

	.subnavbar a
	{
		padding: .1em;
		padding-left: .3em;
		border-right: 1px dotted #CCC;
		color: #333333;
		text-shadow: #666 1px 1px 1px;
		text-shadow: #CCC 1px 1px 1px;
	}

	.subnavbar a.highlight, .subnavbar a:hover
	{
		background-color: #CCC;
		text-decoration: none;
		text-shadow: #EEE 1px 1px 1px;
	}

	.subnavbar ul
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.subnavbar li
	{
		float: left;
		margin: 0 0.15em;
		list-style: none;
	}

	.subnavbar input.searchfield
	{
		width: 7em;
	}

.content .download img
{
	border: 0;
	padding: 0;
	vertical-align:middle;
}


.updatedat
{
	text-align: right;
	font-size: .8em;
}

.newsblock
{
	margin-top: 1em;
	margin-bottom: 1em;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
	border: 1px solid #CCC;
}

.news
{
	padding: 0;
}

	.news .date
	{
		font-weight: bold;
		background-color: #EEE;
		padding: .2em;
		padding-left: .5em;
		color: #333;
		text-shadow: #CCC 1px 1px 1px;
	}

	.news .newscontent
	{
		margin-top: 0;
		padding: .3em;
		padding-left: .5em;
		padding-right: .5em;
		margin-bottom: 0;
	}

	.news p
	{
		margin-top: .2em;
		padding-left: 0;
		padding-right: 0;
	}

	.newsnav
	{
		border-top: 1px dotted #CCC;
		padding: .2em;
		padding-left: .4em;
		background-color: #EEE;
	}

.formfields p
{
	margin-top: 0;
	margin-bottom: .2em;
}

.footer
{
	clear: both;
	margin-top: .5em;
	padding: .2em;
	border-top: 1px solid #CCC;
	border-top: 1px solid #38587c;
	border-top: 1px solid #CCC;
	font-size: .8em;
	font-style: italic;
}

/*
 * aquariusoft.org modifications
 */

.logo
{
	float: left;
}

.portalnav
{
	float: right;
	text-align: right;
	padding-right: .5em;
	padding-top: .1em;
	padding-bottom: .1em;
}

pre, tt, code
{
        font-size: 1.2em;
        font-size: 1em;
	font-family: monospace, "courier new";
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
	overflow: auto;
}

pre
{
        border: 1px solid #3f5671;
        padding: .5em;
	background-color: #FFF;
	overflow: auto;
}

.mininav
{
	border-top: 1px dotted #3f5671;
	border-bottom: 1px dotted #3f5671;
	font-size: .8em;
	font-weight: bold;
	padding: .2em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-variant: small-caps
}

em
{
	font-style: italic;
	font-weight: bold;
}


table
{
	border: 0;
/*	border-collapse: collapse;*/
}

table td
{
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .1em;
	padding-bottom: .1em;
	margin: 0;
}

.odd td
{
	background-color: #38587c;
	color: #FFF;
}

.showcase
{
	width: 750px;
	margin-top: 1em;
	background-color: #FFF;
	-moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
	border: 1px solid #CCC;
}

	.narrow
	{
		width: 600px;
	}

	.showcase h2, .showcase h3
	{
		margin-top: .2em;
	}

	.thumbnail
	{
		float: left;
/*		height: 310px;*/
		width: 310px;
		background-color: #EEE;
		padding: 6px;
		border-right: 1px solid #CCC;
	}

	.thumbnail img
	{
/*		border: 1px solid #38587c;*/
/*		padding: 1px;*/
	}

	.description
	{
		float: left;
		width: 54%;
		width: 400px;
		padding: 0;
		padding: 6px;
		margin: 0;
	}
/*
	.link
	{
		padding-left: 400px;
		clear: both;
	}
*/
hr
{
	clear: both;
	border: 0;
}

.gallery_thumbs .thumb
{
	float: left;
	width: 240px;
	height: 270px;
	background-color: #bdccde;
	background-color: #e1e9f3;
	background-color: #EEE;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 6px;
	text-align: center;

        -moz-border-radius-bottomleft:6px;
        -moz-border-radius-bottomright:6px;
        -moz-border-radius-topleft:6px;
        -moz-border-radius-topright:6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
	border: 1px solid #CCC;
}

.gallery_thumbs .image, .gallery_thumbs a
{
	height: 240px;
	width: 240px;
}

.gallery_thumbs a
{
	display: block;
}

.gallery_thumbs img
{
/*
	vertical-align: middle;
	vertical-align: text-bottom;
	position: absolute;
	top: 50%;
	height: 240px;
	margin-top: -120px;
*/
}

.gallery_thumbs .description
{
	margin-top: 1em;
	font-size: .8em;
	width: 100%;
	text-shadow: #CCC 1px 1px 1px;
}
