body
{
	font-family: verdana, tahoma, helvetica, sans;
	font-size: .8em;
	margin: 0;
/*	background: white url("background.png") no-repeat top right;*/
/*	background: white url("lines_repeating.png");*/
	background: #d9dde3;
	background: #7f97b2;
	background: #7f97b2 url("lines_repeating.png");
	color: #333333;
	/*
	background-image: url("background.png");
	background-position: top right;
	background-repeat: no-repeat;
	*/
}

h1
{
	font-size: 1.9em;
	margin-top: .7em;
	margin-bottom: 0;
	color: #65788d;
}

h2
{
	font-size: 1.3em;
	border-bottom: 1px solid #3f5671;
	color: #65788d;
	border-bottom: 1px solid #65788d;
}

h3
{
	font-size: 1em;
	font-weight: bold;
	color: #65788d;
}

ul li
{
	list-style-type: square;
}

a
{
	text-decoration: none;
	color: #3f5671;
	color: #7f97b2;
}

a:hover
{
	text-decoration: underline;
	color: #3f5671;
	color: #9dbadb;
	color: #7f97b2;
}

th
{
	text-align: left;
	font-weight: bold;
}

p
{
	padding-left: 1em;
	padding-left: .5em;
	padding-right: .5em;
	text-align: justify;
}

.wrapperbox
{
	text-align: center;
}

.page
{
/*	background: white url("lines_repeating.png");*/
	background: transparent url("alpha.png");
	width: 80%;
	padding: .5em;
	margin: 0 auto 0 auto;
	text-align: left;
}

#banner
{
/*
	background-color: #E7F1FB;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
*/
}

.navbar
{
/*	clear: both;*/
/*
	margin-top: .5em;
	border-top: 1px solid #3f5671;
	border-bottom: 1px solid #3f5671;
	background-color: #c6d0e8;
	padding: .5em;
	padding-left: 0.2em;
*/
	margin-top: .5em;
	background-color: #1288d0;
	background-color: #65788d;
	padding: .3em;
	padding-left: .2em;
	padding-left: .4em;
	color: #FFF;
	font-weight: bold;
	font-size: .9em;
}

	.navbar a
	{
		padding-left: .2em;
		padding-right: .2em;
		color: #FFF;
		text-decoration: none;
		font-weight: normal;
		/*background-color: #3f5671;
		border: 1px solid #3f5671;*/
		/*
		background-color: transparent;
		background-color: #3f5671;
		border-top: 1px solid #5384f6;
		border-left: 1px solid #5384f6;
		border-bottom: 1px solid #002373;
		border-right: 1px solid #002373;
		*/
	}

	.navbar a:hover
	{
		padding-left: .2em;
		padding-right: .2em;
		color: #FFF;
		text-decoration: underline;
		font-weight: normal;
		/*background-color: #c6d0e8;
		border: 1px solid #3f5671;*/
		/*
		background-color: #6984ff;
		border-bottom: 1px solid #5384f6;
		border-right: 1px solid #5384f6;
		border-top: 1px solid #002373;
		border-left: 1px solid #002373;
		*/
	}

	.navbar a.highlight
	{
	}

	.navbar img
	{
		vertical-align:middle;
	}


.pagebody
{
/*	color: #000;*/
/*	background-color: #FFF;*/
	background: transparent;
/*	border-top: 1px solid #000;*/
/*	border-bottom: 1px solid #3f5671;*/
	padding: 0;
}

.subnavbar
{
/*
	border-top: 1px solid #3f5671;
	border-right: 1px solid #3f5671;
	background-color: #c6d0e8;
	padding: .3em;
*/
	/*background-color: #3f5671;*/
	background-color: #FFF;
	margin: 0;
	margin-bottom: 1em;
/*	padding: .3em;
	color: #FFF;*/
	border: 1px solid #3f5671;
	border: 1px solid #65788d;
	padding-bottom: .3em;
/*	font-weight: bold;*/
/*
	border-top: 2px solid #72141a;
	border-right: 2px solid #72141a;
	background-color: #3f5671;
	padding: .3em;
	color: #fff;
*/
}

	.subnavbar h2
	{
		background-color: #3f5671;
		background-color: #65788d;
		font-size: 1.1em;
		font-weight: bold;
		color: #FFF;
		margin-top: 0;
		margin-bottom: .5em;
		border-bottom: 0;
		padding-left: .3em;
		padding-right: .3em;
		padding-top: .2em;
		padding-bottom: .2em;
		text-align: center;
/*		border-bottom: 1px dotted #3f5671;*/
	}

	.subnavbar ul
	{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1.4em;
		margin-right: .5em;
		padding-left: 0;
	}

	.subnavbar li
	{
		padding-left: 0;
		margin-left: 0;
		list-style: none;
		list-style: square;
		list-style-image: url("bullet.png");
	}

	.subnavbar ul.info
	{
		margin-top: .5em;
		padding-top: .5em;
		border-top: 1px dotted #FFF;
		border-top: 1px dotted #3f5671;
	}

	.subnavbar ul.info li
	{
		list-style: none;
		font-size: .7em;
	}
/*
	.subnavbar a
	{
		color: #FFF;
	}
*/
.content
{
	background: transparent;
}

	.content .download img
	{
		border: 0;
		padding: 0;
		vertical-align:middle;
	}


.updatedat
{
	text-align: right;
	font-size: .8em;
}

.news
{
/*	clear: both*/
/*	margin-top: .5em;*/
/*	border-top: 1px solid #000;
	border-bottom: 1px solid #000;*/
/*	background-color: #DDEEFF;*/


	background-color: #3f5671;
	background-color: #FFF;
	/*padding: .3em;*/
	/*color: #FFF;*/
	border: 1px solid #3f5671;
	border: 1px solid #65788d;
	padding: 0;
}

	.news .date
	{
		/*border-top: 1px dotted #3f5671;*/
/*		font-weight: bold;*/
/*
		font-size: .8em;

		background: #FAF4C8;
		border-right: 1px solid #E3DE9F;
		border-bottom: 1px solid #E3DE9F;
		float: left;
		text-align: center;
		line-height: 1.1em;
		padding: 2px 1px 5px 1px;
		width: 2.2em;
		width: 3.5em;
		color: #A19D68;
		margin: 0 0.5em 1em 0;
*/
		font-weight: bold;
/*		border-bottom: 1px dotted #FFF;*/
		background-color: #3f5671;
		background-color: #65788d;
		padding: .2em;
		padding-left: .5em;
		color: #FFF;
	}

	.news .newscontent
	{
		margin-top: 0;
/*
		padding-top: .2em;
		padding-bottom: .3em;
*/
		padding: .3em;
		padding-left: .5em;
		padding-right: .5em;
		margin-bottom: 0;
/*		margin-left: .8em;*/
/*
		border-top: 1px solid #3f5671;
		border-bottom: 1px solid #3f5671;
		background-color: #c6d0e8;
*/
/*
		background-color: #3f5671;
		padding: .3em;
		color: #FFF;
*/
	}

	.news p
	{
/*		margin: 0;*/
		margin-top: .2em;
		padding-left: 0;
		padding-right: 0;
	}
/*
	.news a, .news a:hover
	{
		color: #FFF;
		text-decoration: underline;
	}

	.news a:hover
	{
		color: #d9dde3;
	}
*/
.formfields p
{
	margin-top: 0;
	margin-bottom: .2em;
}

.footer
{
	margin-top: .5em;
	padding: .2em;
	border-top: 1px solid #CCC;
	border-top: 1px solid #65788d;
	font-size: .8em;
	font-style: italic;
}

/*
 * aquariusoft.org modifications
 */

.logo
{
	float: left;
}

.portalnav
{
	float: right;
	text-align: right;
	padding-right: .5em;

/*	background: white;*/
	padding-top: .1em;
	padding-bottom: .1em;
}

pre, tt
{
        /*font-size: 110%;*/
        font-size: 1.2em;
}

pre
{
/*        border: 1px solid #C0C0C0;*/
        border: 1px solid #3f5671;
        padding: .5em;
	background-color: #FFF;
}

.mininav
{
	border-top: 1px dotted #3f5671;
	border-bottom: 1px dotted #3f5671;
	font-size: .8em;
	font-weight: bold;
	padding: .2em;
}

em
{
	font-style: italic;
	font-weight: bold;
}
