<html>
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} - {{ site.title }}</title>
    <meta name="author" content="{{ author }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="copyright" content="{{ site.copyright }}" />
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" href="/styles/fonts/bariol/bariol.css"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
{% block navbar %}
{% set active_page = active_page|default('index') -%}
<nav>
    <ul id="navigation">
    {% for section_href, section_id, section_caption, navbar_section in navbar %}
    <li{% if section_id == active_section %} class="active"{% endif %}>
        <a href="{{ section_href|e }}">{{ section_caption }}</a>
        <ul>
            {% for href, id, caption in navbar_section %}
            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    </ul>
</nav>
{% endblock %}
{% block body %}
<h1>{{ page.title }}</h1>
{{ htmlbody }}
<footer>{{ footer }}</footer>
{% endblock %}
</body>
</html>
