html {
    height: 100%;
}

body {
    font-family: "bariol_regularregular", Arial;
    letter-spacing: 0.01em;
    font-size: 1em;
    padding: 40px;
    text-rendering: optimizeLegibility;
    background-color: #0E553C;
    color: #72AB97;
    margin: 0px;
    height: 100%;
}

input, button, textarea {
    -webkit-appearance: none;
}

.white-bg {
    background: #ffffff;
    min-height: 100%;
}

a {
    color: #267257;
    color: #FFDCAA;
    text-decoration: none;
}

a:hover {
    color: #72AB97;
    color: #D4A96A;
}

.centered-heading {
    font-family: "bariol_regularregular", Arial;
    font-size: 5em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "bariol_regularregular", Arial;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #AA7C39;
}

h1 {
    font-size: 4em;
}

h3 {
    margin-top: 1px;
    margin-bottom: 1px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

em {
    color: #AA7C39;
}


code
{
    font-family: "monospace";
    font-size: 0.7em;
}

pre
{
    overflow: auto;
}
