/**
 * Dark green theme with orange highlights
 */

body {
    font-family: "bariol_regularregular", Arial;
    letter-spacing: 0.01em;
    font-size: 1em;
    padding: 0 10px 40px 10px;
    text-rendering: optimizeLegibility;
    background-color: #254238;
    color: #E0E0E0;
    line-height: 1.4;
}

.white-bg {
    background: #ffffff;
}

a {
    color: #E0C49C;
}

a:hover {
    color: #D4A96A;
}

.centered-heading {
    font-family: "bariol_regularregular", Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Caption', 'bariol_regularregular', sans-serif;
    color: #AA7C39;
}

#site_header h1 {
    color: #FFDCAA;
}

em {
    color: #AA7C39;
}


code
{
    font-family: Hack, monospace;
}

@media only screen and ( max-width: 40em ) /* 640 */
{
        #nav > a
        {
            background-color: #e15a1f;
        }
            #nav > a:before,
            #nav > a:after
            {
                border: 2px solid #fff;
            }

            #nav li a
            {
                color: #fff;
            }
            #nav li a:active
            {
                background-color: #c00 !important;
            }

    #nav span:after
    {
        border-top-color: #efa585;
    }

    /* first level */

    #nav > ul
    {
        background-color: #e15a1f;
    }
                #nav > ul > li:not( :last-child ) > a
                {
                    border-bottom: 1px solid #cc470d;
                }
                #nav > ul > li:hover > a,
                #nav > ul:not( :hover ) > li.active > a
                {
                    background-color: #cc470d;
                }


        /* second level */

        #nav li ul
        {
            background-color: #cc470d;
        }
                #nav li ul a
                {
                    border-top: 1px solid #e15a1f;
                }
                    #nav li ul li a:hover,
                    #nav li ul:not( :hover ) li.active a
                    {
                        background-color: #e15a1f;
                    }
}
